<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<h5>{{ site.title }}</h5>
				<img class="img-fluid" src="../images/logo/lab-logo.png"
				     style="max-width: 100px;">
			</div>

			<div class="col-sm-4">
				<h5>Links</h5>
				<ul class="list-unstyled">
					<li><a href="https://github.com/iotlabvjti/iotlab.vjti.github.io">Github Repository</a></li>
					<li><a href="">Link</a></li>
					<li><a href="">Link</a></li>
					<li><a href="">Link</a></li>
				</ul>
			</div>

			<div class="col-sm-4">
				<h5>Contact</h5>
				<p>Department of Electrical Engineering</p>
				<p>Veermata Jijabai Technological Institute</p>
				<p>Matunga (E), Mumbai 400019</p>
			</div>
		</div>

		<div class="row mt-3">
			<p class="text-center">Copyright, 2021</p>
		</div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
